@import url('./style.css');

/* Global styles */
.banner-about {
  font-family: pb;
  color: var(--main-color);
  padding-bottom: 23px;
}

#p-tag-left {
  padding-top: 20px;
  color: #f0e0d0;
}

#p-tag-right {
  color: white;
  position: relative;
  right: 60px;
  padding-top: 40px;
}

#image-team {
  padding-top: 1rem;
  max-width: 100%;
  height: auto;
}

.ul-tag::before {
  content: "\2022";
  color: var(--main-color);
  font-weight: bolder;
  font-size: medium;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.ul-tag {
  color: #f0e0d0;
}

li {
  font-size: medium;
  line-height: 1.5rem;
}

/* Team area styles */
#team {
  padding: 80px 0;
  position: relative;
}

.team-header h3:after {
  width: 164px;
}

#team::after,
#team::before {
  position: absolute;
  content: "";
  top: 380px;
  left: -25px;
  width: 170px;
  height: 140px;
  background: var(--main-color);
  z-index: -1;
  clip-path: polygon(34% 32%, 64% 46%, 100% 31%, 100% 55%, 65% 70%, 33% 56%, 0 61%, 0 39%);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
}

.team-pa {
  padding-top: 85px;
}

.team-item img {
  border-radius: 30% 84% 28% 76% / 87% 23% 69% 29%;
  border: 6px solid var(--main-color);
  width: 40vh;
}

.team-item h3 {
  font-family: pb;
  font-size: 26px;
  color: white;
  padding: 30px 0 14px;
}

.team-item p {
  font-family: pr;
  font-size: 18px;
  color: #a19999;
  padding-bottom: 14px;
}

@media screen and (max-width: 800px) {
  #p-tag-right {
    right: 0;
    padding: 5px;
  }
  .ul-tag {
    padding: 0 1em;
  }
}

.team-item a {
  font-family: pb;
  font-size: 16px;
  color: var(--main-color);
}

.team-btn a {
  padding: 14px 20px;
  background: var(--main-color);
  color: #fff;
  font-size: 18px;
  font-family: pb;
  position: relative;
}

.contributors {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
  object-fit: cover;
}

#imgid {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}