@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

@import url('./style.css');

*{
    box-sizing: border-box;
}

.blogs-card-container{
    margin-top: 15%;
}

.row{
    justify-content: center;
    padding: 0 !important;
}

.blog-card{
    border:1px solid var(--main-color);
    box-shadow: 0 0 4px var(--main-color);
    margin:1rem !important;
    padding: .3rem !important;
    width: 28%;
    color:#fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-img-container{
    height: 200px;
}

.card-img-container img{
    border-top-right-radius: 25px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content{
    margin-top: .5rem;
    height:230px;
    overflow: hidden;
    text-align:justify;
    word-wrap: break-word;
    word-spacing: -2px;
}

.blog-para{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.style-span{
    letter-spacing: 0px;
    font-weight: 100;
}

.read-more-btn{
    font-size: .7rem !important;
    border: 1px solid var(--main-color);
    padding: .5rem !important;
    text-align: center;
    margin:.3rem;
    float: right;
    display: block;
    width: 40%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.read-more-btn:hover{
    background: linear-gradient(to left, #e633da 50%, #2bfa97 100%, #3acdff 50%);
    opacity: .85;
    border: none;
  -webkit-text-fill-color:black;
}



@media(max-width:745px){
    .blogs{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .blog-card{
        width: 85%;
        margin:1rem;
    }

    .card-img-container{
        margin:.5rem;
        height: 250px;
    }

    .card-img-container img{
        box-shadow: 0 0 10px var(--main-color);
        border-radius: 0;
        border-bottom-right-radius: 45px;
        border-top-left-radius: 45px;
    }

    .card-content{
        padding:0 .7rem;
        text-align: justify;
        height: fit-content;
        word-break: break-all;
    }

    .read-more-btn{
        float: none;
        margin:1rem auto;
        width: 90%;
        margin-top:1rem;
        width: 70%;
        margin:1rem;
    }
    

    .blog-card:nth-child(3){
        margin-bottom: 0 !important;
    }
}
