/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url('./style.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

body
{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.container{
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: #090e14;
    border-radius: 1rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 12px;
    overflow: hidden;
    position: relative;
    background: var(--main-color);
    border: 3px solid white;
}

.card_content {
    backdrop-filter: blur(50px);
    height: 100%;   
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}


.card_title{
    color: #080c11;
    font-size: 1.4rem;
    width: 100%;
    font-weight: 500;
    text-transform: capitalize;
    /* margin-bottom: 20px; */
}

.card-project-properties{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.card-project-admin-name {
    color: #080c11;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;

   

}
.card-stack{
    color: #080c11;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    text-transform: capitalize;
    background: var(--clr-back-light);

    padding: 0.3rem;
    border-radius: 8px;
    border: 1px solid black;

}
.card_text {
    color: #080c11;
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: 400;
}
.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}

.card_btn {
    margin: auto;

    display: block;
    background: var(--clr-back-light);
    color: rgb(3, 0, 0);
    padding: 0.3rem;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
}



.card_btn:hover {
    background: var(--clr-back-dark);
    color: white;
    /* border-radius: 0; */
} 

.card_btn a{
    color: rgb(3, 0, 0);
}

.filter {
    background-color: transparent;
    border: 1px solid rgba(25, 118, 210, 0.5);
    color: white;
    border-radius: 4px;
    padding: 5px 15px;
    text-align: center;
    margin: 10px;
}

.filter:hover {
    border: 1px solid var(--main-color);
}

.selected-filter {
    background-color: var(--main-color);
    color: #000000;
    border: var(--main-color);
    /* border: none; */
}

#overview {
  padding: 20px 0;
  margin-top: 10px;
}
