/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url('./style.css');

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}


.btn {
  position: relative;
  display: block;
  background: #e1c1f3;
  color: rgb(3, 0, 0);
  padding: 0.3rem;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
  border: 1.5px solid rgba(27, 24, 24, 0.2);
}

.btn:hover {
  background: #d59cf7;
  border-radius: 40px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  height: 100;
}
.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {

  background-color: #080c11;
  border-radius: 1rem;
  box-shadow: rgba(99, 98, 98, 0.09) 0px 2px 1px,
    rgba(129, 128, 128, 0.09) 0px 4px 2px, rgba(194, 192, 192, 0.09) 0px 8px 4px,
    rgba(160, 159, 159, 0.09) 0px 16px 8px,
    rgba(188, 187, 187, 0.09) 0px 32px 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(45, 44, 44, 0.56) 0px 22px 70px 4px;

}
.card_content {


    text-align: center;
  padding: 1rem;
  background: linear-gradient(50deg, #aa80ff, #b08cf8, #b2a1d4, #beb4d2);
  backdrop-filter: blur(50px);
  height: 300px;
  box-shadow: rgba(88, 87, 87, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card_content:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;

    padding: 1rem;
    backdrop-filter: blur(50px);
    height: 100%;   


}

.cardtitle {
  color: #f0f1f3;
  font-size: 1.19rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #080c11;
  margin-top: 10px;
  font-size: 0.85rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.card_btn {
    position: absolute;
    bottom: 0;
    display: block;
    background: #e1c1f3;
    color: rgb(3, 0, 0);
    padding: 0.3rem;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    width: 100%;
    padding-bottom: 0.5rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
    border: 1.5px solid rgba(27, 24, 24, 0.2);
    border-radius: 0;
}

.card_btn:hover {
    background: #d59cf7;
    border-radius: 0;
}

.filter {
  background-color: transparent;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: white;
  border-radius: 4px;
  padding: 5px 15px;
  text-align: center;
  margin: 10px;
}

.filter:hover {

  border: 1px solid #aa80ff;
}

.selected-filter {
  background-color: #aa80ff;

    border: 1px solid var(--main-color);
}


