/* =============================================================================

[Table of contents]

0.0 Common CSS START 
1.0 HEADER AREA START 
2.0 BANNER AREA START
3.0 FEATURE AREA START
4.0 ABOUT AREA START
5.0 PRODUCT AREA START ( Not Used )
6.0 TEAM AREA START
7.0 REVIEW AREA START ( Not Used )
8.0 SUBSCRIBE AREA START 
9.0 FOOTER AREA START 
10.0 COPY_RIGHT AREA START 
 
/*===========================
0.0 *** Common CSS START ***
=============================*/

html::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  background-color: #aa80ff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

ul,
ol {
  list-style-type: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

img {
  overflow: hidden;
  border: 0;
  vertical-align: middle;
}

.zindex {
  position: relative;
  z-index: 999;
}

.clr {
  clear: both;
}

.vbox-overlay {
  z-index: 999999;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

#text {
  text-align: center;
  letter-spacing: 2px;
  font-size: 4rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #e633da 25%, #2bfa97 50%, #3acdff 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#text-down {
  text-align: center;
  color: #aa80ff;
}

p {
  line-height: 26px;
}

#dark-mode {
  background: #080c11;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

@font-face {
  src: url(../fonts/Poppins-Bold.ttf);
  font-family: pb;
}

@font-face {
  src: url(../fonts/Poppins-Regular.ttf);
  font-family: pr;
}

@font-face {
  src: url(../fonts/Poppins-Light.ttf);
  font-family: pl;
}

/* model */
.modal-content {
  background: #121212;
}

.modal-title {
  font-size: 26px;
  color: white;
  font-family: pb;
}

.modal-header {
  border-bottom: 1px dashed #222;
}

.modal-body {
  padding: 42px 30px 30px;
}

.dropboxx {
  background: #101822;
}

.dropboxx,
.dropboxx2 {
  padding: 12px 20px;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 3px;
  font-family: pb;
}

.dropboxx:focus,
.dropboxx2:focus {
  outline: 0;
}

.dropboxx2 {
  background: #aa80ff;
}

.close {
  color: white;
}

.close:hover,
.close:focus {
  color: #fff;
  outline: 0;
}

.modal-footer {
  border-top: 1px dashed #222;
  padding: 25px;
}

/* preloader */
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #101822;
  z-index: 9999999;
  top: 0;
  left: 0;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  background: #101822;
  color: #fff;
}

.center {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 90px;
  left: 90px;
}

.dot-1 {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  top: 95px;
  left: 95px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
  animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
}

.dot-2 {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: 80px;
  left: 80px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
  animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
}

.dot-3 {
  position: absolute;
  z-index: 1;
  width: 90px;
  height: 90px;
  top: 65px;
  left: 65px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
  animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
}

@-webkit-keyframes jump-jump-1 {
  0%,
  70% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-1 {
  0%,
  70% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jump-jump-2 {
  0%,
  40% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-2 {
  0%,
  40% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jump-jump-3 {
  0%,
  10% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-3 {
  0%,
  10% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Back to top */
.backtotop {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 9999;
  display: none;
}

.backtotop i {
  color: #aa80ff;
  text-align: center;
  font-size: 25px;
  line-height: 65px;
  width: 65px;
  height: 65px;
  -webkit-box-shadow: 0 0 7px rgba(46, 59, 125, 0.23);
  box-shadow: 0 0 7px rgba(46, 59, 125, 0.23);
  border-radius: 50%;
  background: #101822;
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
}

.backtotop:hover {
  cursor: pointer;
}

/* Version 4 */
#ckLine {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*===========================
1.0 *** HEADER AREA START ***
=============================*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  -weebkit-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  background: transparent !important;
}

.menu-item {
  padding-right: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-family: pr;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
  margin-right: 18px;
}

.bor {
  background: #101822;
  padding: 10px 25px !important;
  position: relative;
  border-radius: 3px;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.bor:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 44px;
  top: 7px;
  left: 0;
  background: #212121;
  z-index: -1;
  border-radius: 3px;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.67);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.67);
}

.bor:hover:after,
.bor:focus:after {
  top: 0;
}

.bor:focus:after {
  top: 0;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #aa80ff;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #aa80ff;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-family: pb;
  font-size: 26px;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.navbar-light .navbar-brand b {
  color: #aa80ff;
}

.navbar-light .navbar-brand:focus {
  color: #aa80ff;
}

.navbar-light .navbar-brand:hover {
  color: #aa80ff;
}

.nav-bg {
  background: #101822 !important;
  padding: 25px 0;
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
}

.nav-bg .navbar-brand {
  color: #fff;
  font-size: 26px;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.nav-bg .navbar-brand:hover {
  color: #fff;
}

.nav-bg .bor {
  background: #aa80ff;
}

.nav-bg .bor:after {
  background: #aa80ff;
}

.nav-bg .bor:hover {
  color: white !important;
}

.nav-bg .navbar-nav .nav-link {
  color: #fff;
}

/*===========================
2.0 *** BANNER AREA START ***
=============================*/
#banner {
  padding: 260px 0 100px;
  position: relative;
  width: 100%;
}

#banner::after {
  position: absolute;
  content: "";
  top: 170px;
  right: 80%;
  overflow: hidden;
  width: 800px;
  height: 800px;
  border: 2px solid #ededed;
  display: block;
  border-color: #1d1d1d;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

#banner::before {
  position: absolute;
  content: "";
  top: -349px;
  right: -300px;
  overflow: hidden;
  width: 800px;
  height: 800px;
  border: 2px solid #ededed;
  display: block;
  border-color: #1d1d1d;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.banner-txt h3 {
  font-size: 36px;
  font-family: pb;
  color: #aa80ff;
  line-height: 45px;
  padding-bottom: 23px;
  padding-top: 16px;
}

.banner-txt p {
  font-size: 17px;
  color: #787878;
  padding-right: 40px;
  line-height: 26px;
  padding-bottom: 45px;
}

.separate-p {
  padding-bottom: 40px;
}

.banner-txt a {
  padding: 14px 20px;
  background: #aa80ff;
  color: white;
  font-family: pb;
  font-size: 18px;
  position: relative;
}

.banner-txt a:hover:after {
  top: 7px;
}

.banner-txt a::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  background: rgb(148, 84, 194);
  z-index: -1;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.design-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.design-layer::after {
  position: absolute;
  content: "";
  top: 380px;
  right: 0;
  width: 170px;
  height: 140px;
  background: #aa80ff;
  z-index: -1;
  -webkit-clip-path: polygon(
    34% 32%,
    64% 46%,
    100% 31%,
    100% 55%,
    65% 70%,
    33% 56%,
    0 61%,
    0 39%
  );
  clip-path: polygon(
    34% 32%,
    64% 46%,
    100% 31%,
    100% 55%,
    65% 70%,
    33% 56%,
    0 61%,
    0 39%
  );
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
}

.design-layer::before {
  position: absolute;
  content: "";
  top: 430px;
  right: 0;
  width: 170px;
  height: 140px;
  background: #aa80ff;
  z-index: -1;
  -webkit-clip-path: polygon(
    34% 32%,
    64% 46%,
    100% 31%,
    100% 55%,
    65% 70%,
    33% 56%,
    0 61%,
    0 39%
  );
  clip-path: polygon(
    34% 32%,
    64% 46%,
    100% 31%,
    100% 55%,
    65% 70%,
    33% 56%,
    0 61%,
    0 39%
  );
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
}

/*===========================
3.0 *** FEATURE AREA START ***
=============================*/
#overview {
  padding: 80px 0;
}

.over-pa {
  padding-top: 60px;
}

.over-item {
  background: #101822;
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  padding: 35px 31px;
  margin-top: 30px;
}

.unique-style,
.unique-style2 {
  position: relative;
}

.unique-style::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -145px;
  height: 2px;
  width: 190px;
  border: 2px solid #ededed;
  border-color: #1d1d1d;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -11;
}

.unique-style::before {
  position: absolute;
  content: "";
  top: 50%;
  right: -152px;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  background: #aa80ff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

.unique-style2:after {
  position: absolute;
  content: "";
  top: 50%;
  left: -170px;
  height: 2px;
  width: 230px;
  border: 2px solid #ededed;
  border-color: #1d1d1d;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -11;
}

.unique-style2:before {
  position: absolute;
  content: "";
  top: 50%;
  left: -171px;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  background: #aa80ff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

.unique-style3::after {
  position: absolute;
  content: "";
  top: -70px;
  left: 20px;
  height: 230px;
  width: 2px;
  border: 2px solid #ededed;
  border-color: #1d1d1d;
  z-index: -11;
}

.unique-style3::before {
  position: absolute;
  content: "";
  top: -76px;
  left: 16px;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  background: #aa80ff;
  z-index: -1;
}

.unique-style4::after {
  position: absolute;
  content: "";
  bottom: -105px;
  right: 20px;
  height: 230px;
  width: 2px;
  border: 2px solid #ededed;
  border-color: #1d1d1d;
  z-index: -11;
}

.unique-style4::before {
  position: absolute;
  content: "";
  bottom: -106px;
  right: 17px;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  background: #aa80ff;
  z-index: -1;
}

.header-text h3 {
  font-size: 37px;
  font-family: pb;
  color: white;
  letter-spacing: 10px;
  position: relative;
  display: inline-block;
}

.header-text h3:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 240px;
  height: 2px;
  background: #1d1d1d;
}

.header-text h3 span {
  color: #aa80ff;
}

.over-i {
  font-size: 27px;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  background: #aa80ff;
}

.over-item h3 {
  font-size: 24px;
  color: white;
  font-family: pb;
  padding: 20px 0;
  position: relative;
}

.over-item p {
  font-size: clamp(1rem, 4vw, 1.15rem);
  max-width: 50ch;
  color: #d1d5ce;
  line-height: 26px;
}

.over-btn {
  padding-top: 15px;
}

.over-btn a {
  color: #aa80ff;
  font-size: 17px;
  font-family: pb;
}

.over-btn:hover {
  background: linear-gradient(to right, #e633da 50%, #3acdff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

over-btn a i {
  padding-right: 5px;
}

.txt-right {
  text-align: right;
}

.txt-right p {
  padding-left: 20px;
}

.txt-left p {
  padding-right: 20px;
}

/*===========================
4.0 *** ABOUT AREA START ***
=============================*/

#about {
  padding: 80px 0;
}

.about-header h3:after {
  width: 192px;
}

.about-img {
  background: #101822;
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about-pa {
  padding-top: 25px;
}

.about-item {
  padding-top: 35px;
}

.about-img {
  position: relative;
}

.ai-one::after {
  position: absolute;
  content: "";
  top: 350px;
  left: -65px;
  width: 120px;
  height: 120px;
  border: 25px solid #101822;
  z-index: -1;
  border-radius: 50%;
}

.ai-two::after {
  position: absolute;
  content: "";
  top: 344px;
  right: -55px;
  width: 120px;
  height: 120px;
  border: 25px solid #101822;
  z-index: -1;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}

.ai-three::after {
  position: absolute;
  content: "";
  top: 350px;
  left: -65px;
  width: 120px;
  height: 120px;
  border: 25px solid #101822;
  z-index: -1;
  border-radius: 50%;
}

.about-img img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.about-img:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.separet-span {
  font-family: pr;
  letter-spacing: 2px;
  font-size: 21px;
  font-weight: bold;
  background: linear-gradient(to right, #e633da 25%, #2bfa97 50%, #3acdff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-txt {
  padding-top: 30px;
}

.about-txt h3 {
  font-family: pb;
  font-size: 26px;
  color: #fff;
  padding-bottom: 16px;
  padding-top: 12px;
}

.about-txt p {
  font-size: 1.125rem;
  color: #d1d5ce;
  line-height: 27px;
  padding-bottom: 30px;
}

.separate-p {
  padding-bottom: 50px !important;
}

.about-txt a {
  padding: 14px 20px;
  background: #aa80ff;
  color: #fff;
  font-size: 18px;
  font-family: pb;
  position: relative;
}

.about-txt a i {
  padding-left: 8px;
}

.about-txt a::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  background: rgb(148, 84, 194);
  z-index: -1;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.about-txt a:hover:after {
  top: 6px;
}

.list {
  color: #d1d5ce;
}

.ul-about {
  list-style: none;
  padding-top: 25px;
  position: relative;
  padding-bottom: 45px;
}

li {
  line-height: 2;
  font-size: 1.1rem;
}

.ul-about ::before {
  content: "\2022";
  color: #aa80ff;
  font-weight: bolder;
  font-size: medium;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.contribute {
  padding-top: 30px;
}

.contribute h3 {
  font-family: pb;
  font-size: 26px;
  color: #fff;
  padding-bottom: 16px;
  padding-top: 12px;
}

.contribute a {
  color: #fff;
  display: block;
}

/* .p-bar span {
  font-size: 18px;
  color: #787878;
}

.p-bars {
  padding-top: 35px;
}

.progress-bar {
  background: #aa80ff;
}

.progress {
  background: #101822;
}

.p-bar {
  margin-bottom: 20px;
}

.counter-main {
  padding-top: 50px;
}

.counter-1 h5 {
  font-size: 18px;
  color: #aa80ff;
  margin-top: -56px;
  margin-left: 28px;
  padding-bottom: 38px;
}

.counter-1 span {
  font-size: 18px;
  color: #787878;
} */

/*===========================
6.0 *** PRODUCT AREA START ***
=============================*/
/* #product {
  padding: 80px 0;
}

.product-pa {
  padding-top: 185px;
}

.product-item {
  background: #101822;
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px 30px;
  position: relative;
}

.product-item img {
  position: absolute;
  top: -100px;
}

.product-txt span {
  color: #aa80ff;
  font-family: pr;
  font-size: 18px;
}

.product-txt h3 {
  font-size: 25px;
  font-family: pb;
  color: white;
  padding-top: 6px;
  padding-bottom: 23px;
}

.product-txt p {
  color: #787878;
  font-family: pr;
  padding-bottom: 33px;
}

.next-p {
  padding-right: 17px;
  padding-top: 0;
}

.product-txt a {
  padding: 14px 20px;
  background: #aa80ff;
  color: #fff;
  font-size: 18px;
  font-family: pb;
}

.product-slider {
  background: #101822;
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px 0 20px;
}

.pro-img {
  padding: 30px 0;
}

.pro-img img {
  border: 5px solid #aa80ff;
  border-radius: 50%;
  display: inline-block;
}

.product-slider h3 {
  font-size: 26px;
  color: white;
  font-family: pb;
  padding-bottom: 6px;
}

.product-slider a {
  color: #aa80ff;
}

.stars {
  padding-right: 35px;
}

.stars i {
  color: #fbaa33;
  margin: 0 1px;
}

.product-slider span {
  color: #787878;
  font-family: pr;
}

.border-style {
  border-bottom: 1px dashed #222;
  padding-bottom: 30px;
}

.pro-info {
  padding: 20px 0 0;
} */

/*===========================
6.0 *** TEAM AREA START ***
=============================*/
#team {
  padding: 80px 0;
  position: relative;
}

.team-header h3:after {
  width: 164px;
}

#team::after {
  position: absolute;
  content: "";
  top: 380px;
  left: -25px;
  width: 170px;
  height: 140px;
  background: #aa80ff;
  z-index: -1;
  -webkit-clip-path: polygon(
    34% 32%,
    64% 46%,
    100% 31%,
    100% 55%,
    65% 70%,
    33% 56%,
    0 61%,
    0 39%
  );
  clip-path: polygon(
    34% 32%,
    64% 46%,
    100% 31%,
    100% 55%,
    65% 70%,
    33% 56%,
    0 61%,
    0 39%
  );
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
}

#team::before {
  position: absolute;
  content: "";
  top: 430px;
  left: -25px;
  width: 170px;
  height: 140px;
  background: #aa80ff;
  z-index: -1;
  -webkit-clip-path: polygon(
    34% 32%,
    64% 46%,
    100% 31%,
    100% 55%,
    65% 70%,
    33% 56%,
    0 61%,
    0 39%
  );
  clip-path: polygon(
    34% 32%,
    64% 46%,
    100% 31%,
    100% 55%,
    65% 70%,
    33% 56%,
    0 61%,
    0 39%
  );
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
}

.team-pa {
  padding-top: 85px;
}

.team-item img {
  border-radius: 30% 84% 28% 76% / 87% 23% 69% 29%;
  border: 6px solid #aa80ff;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.team-item:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.team-item h3 {
  font-family: pb;
  font-size: 26px;
  color: white;
  padding: 30px 0 14px;
}

.team-item p {
  font-family: pr;
  font-size: 18px;
  color: #787878;
  padding-bottom: 14px;
}

.team-item a {
  font-family: pb;
  font-size: 16px;
  color: #aa80ff;
}

.team-btn a {
  padding: 14px 20px;
  background: #aa80ff;
  color: #fff;
  font-size: 18px;
  font-family: pb;
  position: relative;
}

/*===========================
7.0 *** REVIEW AREA START ***
=============================*/
/* #review {
  padding: 80px 0;
  position: relative;
}

#review:after {
  position: absolute;
  content: "";
  top: -40px;
  right: -280px;
  width: 800px;
  height: 800px;
  border: 80px solid #101822;
  border-radius: 50%;
  z-index: -1;
  -webkit-box-shadow: 0 25px 60px rgba(0, 0, 0, 0.67),
    inset 0 25px 60px rgba(0, 0, 0, 0.67);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.67),
    inset 0 25px 60px rgba(0, 0, 0, 0.67);
}

.review-pa {
  padding-top: 80px;
}

.review-item {
  background: #101822;
  -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
  padding: 40px 0 30px;
  border-radius: 3px;
}

.comment {
  padding: 0 25px 30px;
}

.comment p {
  color: #787878;
  font-family: pr;
  font-size: 17px;
}

.comment p i {
  color: #aa80ff;
  font-size: 22px;
  padding: 0 3px;
}

.user {
  padding: 30px 40px 0;
  border-top: 2px dashed #222;
}

.user-img img {
  background: #aa80ff;
  border: 2px solid #aa80ff;
  border-radius: 50%;
}

.user-txt h3 {
  font-size: 24px;
  font-family: pb;
  color: white;
  padding-bottom: 10px;
}

.user-txt span {
  color: #787878;
}

.star2 i {
  color: #fbaa33;
  margin: 0 4px;
} */

/*===========================
8.0 *** SUBSCRIBE AREA START ***
=============================*/
#subscribe {
  padding: 30px 0;
  margin-bottom: -70px;
}

.sub-main {
  padding: 30px 0;
  background: #aa80ff;
  border-radius: 50px;
}

.sub-main h3 {
  padding-left: 60px;
  font-size: 23px;
  color: white;
  font-family: pb;
  letter-spacing: 2px;
  padding-bottom: 15px;
}

.sub-main a {
  background: white;
  padding: 10px 20px;
  border-radius: 70px;
  font-family: pb;
  color: #aa80ff;
  font-size: 18px;
}

.sub-main a:hover {
  color: #101822;
}

.sub-main p {
  font-family: pl;
  text-align: center;
  padding-top: 5px;
}

/*===========================
9.0 *** FOOTER AREA START ***
=============================*/

#footer {
  padding: 120px 0 85px;
  background: #101822;
  border-bottom: 1px solid #101822;
  border-top: 2px dashed #222;
}

.footer-logo p {
  color: #d1d5ce;
  font-family: pr;
  padding-top: 10px;
  line-height: 29px;
  font-size: 16px;
  padding-bottom: 13px;
  text-align: justify;
}

.footer-social {
  padding-top: 11px;
}

.footer-social i {
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  color: #101822;
  background: white;
  font-size: 20px;
  margin-right: 13px;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.footer-social i:hover {
  background: #aa80ff;
  color: #fff;
  border: 1px solid #aa80ff;
}

.links h3 {
  font-size: 21px;
  font-family: pb;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 15px;
}

.links ul li a {
  color: #d1d5ce;
  text-transform: capitalize;
  line-height: 38px;
  font-size: 16px;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  font-family: pr;
}

.links ul li a:hover {
  color: #aa80ff;
  padding-left: 10px;
}

.f-logo {
  font-size: 27px;
  background: linear-gradient(to right, #e633da 25%, #2bfa97 50%, #3acdff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: pb;
}

.f-logo:hover {
  color: #aa80ff;
}

/*===========================
10.0 *** COPY_RIGHT AREA START ***
=============================*/

#footer-btm {
  background: #101822;
  border-top: 2px dashed #222;
  padding: 25px 0;
}

.fop-btm h2 {
  color: #fff;
  font-size: 16px;
  font-family: pr;
  margin-bottom: 0;
}

.fop-btm a {
  color: #aa80ff;
  font-family: pb;
}

#butt {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1.5em;
  text-align: center;
  font: 48px/1.5 sans-serif;
  color: red;
  text-shadow: 0 0 0.5em black;
}
